# Node Modules
node_modules/
client/node_modules/

# Production builds
client/dist/
dist/

# Local database
database.sqlite

# Local uploaded files (multer)
public/uploads/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db
